<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="assets/css/trangChu.css">
    </head>
    <body>
        <div class="khung">

            <div class="menu_left">
                <div class="header">
                    <h2>The Outfit Hub</h2>
                </div>

                <div class="main">
                    <div class="content">
                        <img src="assets/img/trangchu.png" alt>
                        <h3><a href="?act=trangChu">Trang chủ</a></h3>
                    </div>

                    <div class="content">
                        <img src="assets/img/donhang.png" alt>
                        <h3><a href="?act=nguoiDung">Người dùng</a></h3>
                    </div>

                    <div class="content">
                        <img src="assets/img/lienhe.png" alt>
                        <h3><a href="?act=danhMuc">Danh mục</a></h3>
                    </div>

                    <div class="content">
                        <img src="assets/img/tintuc.png" alt>
                        <h3><a href="?act=sanPham">Sản phẩm</a></h3>
                    </div>

                    <div class="content">
                        <img src="assets/img/banner.png" alt>
                        <h3><a href="?act=hinhAnhSP">Hình ảnh sản phẩm</a></h3>
                    </div>

                    <div class="content">
                        <img src="assets/img/noidung.png" alt>
                        <h3><a href="?act=binhLuan">Bình luận, đánh giá</a></h3>
                    </div>

                    <div class="content">
                        <img src="assets/img/km2.png" alt>
                        <h3><a href="?act=khuyenMai">Khuyến mãi</a></h3>
                    </div>

                    <div class="content">
                        <img src="assets/img/noidung2.png" alt>
                        <h3><a href="?act=noiDung">Nội dung</a></h3>
                    </div>

                    <div class="content">
                        <img src="assets/img/hinhanh.png" alt>
                        <h3><a href="?act=banner">Banner</a></h3>
                    </div>

                    <div class="content">
                        <img src="assets/img/sanpham.png" alt>
                        <h3><a href="?act=tinTuc">Tin tức</a></h3>
                    </div>

                    <div class="content">
                        <img src="assets/img/lienhe2.png" alt>
                        <h3><a href="?act=lienHe">Liên hệ</a></h3>
                    </div>

                    <div class="content">
                        <img src="assets/img/donhang2.png" alt>
                        <h3><a href="?act=donHang">Đơn hàng</a></h3>
                    </div>

                </div>
            </div>

            <div class="menu_right">

                <div class="header">

                    <div class="thongBao">
                        <a href="#"><img src="assets/img/chuong.png"
                                alt="Chuong"></a>
                    </div>

                    <div class="dangXuat">
                        <a href>Đăng xuất</a>
                    </div>

                </div>

                <div class="main">

                </div>

            </div>

        </div>

    </body>
</html>